[user]
    name = Ash Midgley
    username = ashmidgley
	email = ashleymidgley@protonmail.com

[core]
	editor = /opt/homebrew/bin/nvim
    pull.rebase = false

[credential]
	helper = osxkeychain

[web]
	browser = google-chrome
